
.popUp-Visible {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: indianred;
    width: 300px;
    height: 300px;
    transition: width 0.6s, height 0.6s;
}
.popUp-Invisible {
    position: fixed;
    width: 0;
    height: 0;
    bottom: 40px;
    right: 30px;
    background-color: indianred;
    transition: width 0.6s, height 0.6s;
}
.botonKaren{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.botonCerrarVisible {
    display: block;
}
.botonCerrarInvisible {
    display: none;
}
