ul{
    font-size: 30px;
    background-color: salmon;
    text-align: center;
    padding: auto;
    border-radius: 2em;
    

   
}
li{
    display: inline-block;
    padding: 20px;
    
}
a.enlace-menu{
    text-decoration: none;
    color: darkred;
}
a.enlace-menu:hover{
    color: ghostwhite;
    font-size: 1.05em;
}
*{
    margin: 0;
    padding: 0;
}