 .container{
    border: solid 1px;
    border-radius: 8px;
    
} 
h1{
    color: rgb(51, 223, 124);
    font-size: 30px;
}
.content{
    text-align: center;
  
}
.cod_procut{
    font-size: 25px;
}

.idProducto{
    
    height: 30px;
    margin-bottom: 75px;
  
}
.btn-cargar-producto{
    background-color: rgb( 155, 89, 182 );
    font-size: 22px;
    text-shadow: 0em;
    color: white;
    border: rebeccapurple;
    border-radius: 8em;
}
.table-style{
    text-align: center;
}
.formular{
    background-color: rgb();
    border-radius: 8px;

}
.formulario{
    text-align: center;
}
table {
    width: 100%;
 }
 th, td {
    width: 22%;
   text-align: left;
   vertical-align: top;
   border: 3px solid  rgb(88, 214, 141);
   font-size: 22px;
   border-collapse: collapse;
   color: black;
   background-color: rgb( 241, 196, 15 );
   

  
 }