body {
    cursor: pointer;
    background-color: black;
    
}
.hidden {
    display: none;
}
h3 {
    text-align: center;
}
div {
    border-radius: 1%;
}
.imgPrincipal{
    max-width: max-content;
    margin-top: 15px;
    
}
*{
    margin: 0;
    padding: 0;

}
.logo{
    color: red;
    font-size: 6em;
    
}